# Coil2000 dataset
[Source](https://www.openml.org/search?type=data&sort=qualities.NumberOfFeatures&status=active&qualities.NumberOfClasses=lte_1&qualities.NumberOfFeatures=between_10_100&format=ARFF&qualities.NumberOfInstances=between_1000_10000&id=298)

Can you predict who would be interested in buying a caravan insurance policy and give an explanation why?

Perfect challenge for a random forest tree regressor.

9822 instances 

86 features

Each instance is a customer. All features are the customer informations, which include product usage data and socio-demographic data derived from zip area codes.

### Import libraries

In [9]:
import numpy as np
import pandas as pd
from scipy.io.arff import loadarff 
from sklearn.model_selection import train_test_split

RANDOM_SEED = 42

### Import data

In [ ]:
raw_data = loadarff('coil2000.arff')
df = pd.DataFrame(raw_data[0])

In [3]:
df.head()

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,CARAVAN
0,33.0,1.0,3.0,2.0,8.0,0.0,5.0,1.0,3.0,7.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,37.0,1.0,2.0,2.0,8.0,1.0,4.0,1.0,4.0,6.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,37.0,1.0,2.0,2.0,8.0,0.0,4.0,2.0,4.0,3.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9.0,1.0,3.0,3.0,3.0,2.0,3.0,2.0,4.0,5.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,40.0,1.0,4.0,2.0,10.0,1.0,4.0,1.0,4.0,7.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9822 entries, 0 to 9821
Data columns (total 86 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOSTYPE   9822 non-null   float64
 1   MAANTHUI  9822 non-null   float64
 2   MGEMOMV   9822 non-null   float64
 3   MGEMLEEF  9822 non-null   float64
 4   MOSHOOFD  9822 non-null   float64
 5   MGODRK    9822 non-null   float64
 6   MGODPR    9822 non-null   float64
 7   MGODOV    9822 non-null   float64
 8   MGODGE    9822 non-null   float64
 9   MRELGE    9822 non-null   float64
 10  MRELSA    9822 non-null   float64
 11  MRELOV    9822 non-null   float64
 12  MFALLEEN  9822 non-null   float64
 13  MFGEKIND  9822 non-null   float64
 14  MFWEKIND  9822 non-null   float64
 15  MOPLHOOG  9822 non-null   float64
 16  MOPLMIDD  9822 non-null   float64
 17  MOPLLAAG  9822 non-null   float64
 18  MBERHOOG  9822 non-null   float64
 19  MBERZELF  9822 non-null   float64
 20  MBERBOER  9822 non-null   float64
 21  MBERMIDD  9822 non-null   float64
 22  MBERARBG  9822 non-null   float64
 23  MBERARBO  9822 non-null   float64
 24  MSKA      9822 non-null   float64
 25  MSKB1     9822 non-null   float64
 26  MSKB2     9822 non-null   float64
 27  MSKC      9822 non-null   float64
 28  MSKD      9822 non-null   float64
 29  MHHUUR    9822 non-null   float64
 30  MHKOOP    9822 non-null   float64
 31  MAUT1     9822 non-null   float64
 32  MAUT2     9822 non-null   float64
 33  MAUT0     9822 non-null   float64
 34  MZFONDS   9822 non-null   float64
 35  MZPART    9822 non-null   float64
 36  MINKM30   9822 non-null   float64
 37  MINK3045  9822 non-null   float64
 38  MINK4575  9822 non-null   float64
 39  MINK7512  9822 non-null   float64
 40  MINK123M  9822 non-null   float64
 41  MINKGEM   9822 non-null   float64
 42  MKOOPKLA  9822 non-null   float64
 43  PWAPART   9822 non-null   float64
 44  PWABEDR   9822 non-null   float64
 45  PWALAND   9822 non-null   float64
 46  PPERSAUT  9822 non-null   float64
 47  PBESAUT   9822 non-null   float64
 48  PMOTSCO   9822 non-null   float64
 49  PVRAAUT   9822 non-null   float64
 50  PAANHANG  9822 non-null   float64
 51  PTRACTOR  9822 non-null   float64
 52  PWERKT    9822 non-null   float64
 53  PBROM     9822 non-null   float64
 54  PLEVEN    9822 non-null   float64
 55  PPERSONG  9822 non-null   float64
 56  PGEZONG   9822 non-null   float64
 57  PWAOREG   9822 non-null   float64
 58  PBRAND    9822 non-null   float64
 59  PZEILPL   9822 non-null   float64
 60  PPLEZIER  9822 non-null   float64
 61  PFIETS    9822 non-null   float64
 62  PINBOED   9822 non-null   float64
 63  PBYSTAND  9822 non-null   float64
 64  AWAPART   9822 non-null   float64
 65  AWABEDR   9822 non-null   float64
 66  AWALAND   9822 non-null   float64
 67  APERSAUT  9822 non-null   float64
 68  ABESAUT   9822 non-null   float64
 69  AMOTSCO   9822 non-null   float64
 70  AVRAAUT   9822 non-null   float64
 71  AAANHANG  9822 non-null   float64
 72  ATRACTOR  9822 non-null   float64
 73  AWERKT    9822 non-null   float64
 74  ABROM     9822 non-null   float64
 75  ALEVEN    9822 non-null   float64
 76  APERSONG  9822 non-null   float64
 77  AGEZONG   9822 non-null   float64
 78  AWAOREG   9822 non-null   float64
 79  ABRAND    9822 non-null   float64
 80  AZEILPL   9822 non-null   float64
 81  APLEZIER  9822 non-null   float64
 82  AFIETS    9822 non-null   float64
 83  AINBOED   9822 non-null   float64
 84  ABYSTAND  9822 non-null   float64
 85  CARAVAN   9822 non-null   float64
dtypes: float64(86)
memory usage: 6.4 MB

In [5]:
len(df)

9822

In [6]:
df.empty

False

### Prepare the data

In [13]:
X_data = df.drop("CARAVAN", axis=1)
y_data = df["CARAVAN"]

X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.2, random_state=RANDOM_SEED)